.root {
  text-align: center;
  margin-top: 0px;
  ul{
    margin:2px ;
  }
  li {
    display: inline-block;

    a {
      display: flex;
      color: #292746;
      font-size: 1.4rem;
      width: 32px;
      height: 32px;
      margin-right: 10px;
      padding: 10px;
      border: 1px solid #292746;
      border-radius: 50%;
      cursor: pointer;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #9bd3b1;
        color: white;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #2279aa;
        color: white;
      }
    }

    li.break a {
      display: none;
    }
  }
}