.to_top {
  position: fixed;
  right: 20px;
  top: 80%;
  border-radius: 50%;
  cursor: pointer;
  background-color: #00eeff;
  width: 52px;
  height: 52px;
  display: none;

  span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    opacity: .4;
    animation: pulseAnimate 2s ease-in-out infinite;
  }

  @keyframes pulseAnimate {
    100% {
      opacity: 0;
      transform: scale(2);
    }
  }


  &.active_top{
    display: block;
  }
}